<div>
  <div *ngIf="!(searchStatus$ | async).searching">
    <div *ngIf="launches$ | async as launches">
      <p *ngIf="launches.length == 0">Ningún lanzamiento seleccionado</p>
      <div *ngIf="launches.length > 0">
        <p>Total lanzamientos: {{ launches.length }}</p>
        <ul>
          <li *ngFor="let launch of launches; let i=index">{{ i + 1 }} - {{ launch.name }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="(searchStatus$ | async).searching">
    <p>Buscando lanzamientos...</p>
  </div>
</div>